* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #444;
}

#grafoForm {
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
}

textarea {
    color: #a0e2ff;
    background-color: #2a2a2a;
    border-radius: 5px;
}

button {
    padding: 3px 4px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
} button:hover {
    background-color: #0056b3;
}