body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    
}

.container {
    justify-items: center;
}

h1, h2 {
    color: #333;
}

#rotaForm{
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#rotaForm input {
    margin-top: 5px;
}

#mapaRotas, #rotaMaisCurta {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.grafos-container {
    display: flex; 
    justify-content: center; 
    gap: 40px; 
    flex-wrap: wrap;
}

.grafo-completo {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
}

.grafo-caminho {
    flex: 1; 
    min-width: 300px;
    max-width: 400px;
}


.grafo-completo svg, .grafo-caminho svg {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
}